*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: rgb(56,56,56);
    background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(25,25,25,0.9332107843137255) 200%);
    border-style: solid;
}

ul{
    list-style-type: none;
}

li{
    float: right;
    margin: 50px 50px 0px 0px;
}

li a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
li a:hover{
    color: black;
    text-decoration: underline;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: 2.5rem;
}

.firstLetter{
    margin: 50px 0px 0px 50px;
    color: rgb(2, 2, 2);
    float: left;
}

.secondLetter{
    margin: 60px 0px 0px 0px;
    color:rgba(255, 140, 0, 0.493);
    float: left;
}

h3{
    color: rgb(240, 248, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    font-size: 8rem;
    text-align: center;
    padding-top: 30rem;
    text-shadow: 5px 10px 3px black;
}
p{
    color: rgba(240, 248, 255, 0.379);
    text-align: center;
    margin-top: 10px;
}

blockquote{
    color: rgba(240, 248, 255, 0.379);
    text-align: center;
    font-style: italic;
}
img{
    opacity: 0.6;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    box-shadow: 0px 0px 40px 0px rgba(255, 166, 0, 0.575);
}